
html {
  height: 100%;
}
body {
  margin:0;
  align-items: center;
  padding:10px;
  font-family: sans-serif;
  background: #ece9e9;
}

.login-box {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

#p_submit{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#validation {
  margin-top: 30px;
  padding: 10px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  transition: .5s;
  letter-spacing: 4px;
  background: transparent;
  border: transparent
}
.before {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
}
.center{
  text-align: center;
  margin-top: 2em;
  padding: 10px;
  padding-bottom: 50px;
}
input{
  margin-left: 5px;
  margin-right: 10px;
}
label{
  color: white;
  font-size: 22px;
}
button{
  margin-left: 30px;

}
.form-group {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.form-group input {
  margin-right: 10px;
}
.container{
  border: 1px solid white;
  background-color: #43339d;
  border-radius: 15px;
  padding: 10px;
  color: white;
}
.navbar-light .navbar-nav .nav-link, .btn {
  color: white;
}